.App {
  text-align: center;
  font-size: 14px;
}

h1 {
  background-color: rgba(73, 168, 168, 0.507);
  color: rgb(58, 66, 95);
  font-size: 450%;
  margin: 0;
}

nav {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  padding: 8px 16px; 
}

.link {
  padding: 8px 16px;
  text-decoration: none;
  }

nav .link:hover {
  background-color: rgb(156, 164, 209);
}

nav img {
  height: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;  
}

li {
  max-width: 250px;
  width: 170px;
  height: 220px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  box-shadow: 0 10px 20px hsla(103, 7%, 40%, 0.555);
  width: 150px;
  height: 230px;
  font-size: 12px;
}

.thumbnail {
  max-height: 100px;
  max-width: 150px;
  border-radius: 10px;
}

.review_img {
  width: 100%;
  border-radius: 10px;
}

#cover_img {
  width: 60%;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto
}

table {
  max-width: 500px;
  min-width: 300px;  
  padding: 10px;
  margin: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

select {
  margin-left: 10px;
  margin-right: 10px;
}

#reviews {
  margin-top: 10px;
}

#cat_des {
  max-width: 400px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

button {
  width: 100%;
}

#submit {
  width: 50%;
}

.vote {
  width: 30px;
}

/* text box for comment form */
#form_body {
  width: 80%;
}

#comment_button {
  width: 100%;
}

.review_card {
  width: 150px;
  max-height: 230px;
  font-size: 12px;
}

#rev_card {
  flex: 2;
  min-width: 120px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#comments {
  flex: 1;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 10px;
  min-width: 120px;
}
